.name {
  text-align: center;
  font-size: 40px;
  color: black;
  background-color: rgb(217, 193, 161);
}

.hot {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.cold {
  width: 100%;
  font-size: 20px;
}

.font {
  font-family: "Times New Roman", Times, serif;
}
.yenme {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

.flex-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex-box {
  width: 200px;
  height: 200px;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 1px solid black;
  border-radius: 60px;
}

.my-header {
  background-color: #f5efff;
  padding: 20px;
  font-size: 16px;
}

.no-padding {
  padding: 0px !important;
}

.nav-links {
  float: right;
}

.nav-link {
  margin: 15px;
  text-decoration: none;
  font-size: 16px;
}

.project-uno {
  width: 100%;
  padding: 10px;
}

.data-table {
  width: 100%;
  margin-top: 10px;
}

.no-bullets {
  list-style: none;
}

table,
th,
td {
  border: 1px solid black;
  table-layout: auto;
  text-align: center;
  border-collapse: collapse;
}
th {
  /* font-family: "Brush Script MT", cursive; */
  font-weight: bold;
}

td,
th {
  height: 100px;
}

.centered-td {
  padding: 20px;
}
.mobile-data-table{
  display: none;
}

@media (max-width:600px) 
{
  .my-header{
    background-color: #f5efff;
    padding: 20px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .title {
    color: #229799;
    text-transform: uppercase;
    text-align: center;
    color: red
    
  }
  .nav-links {
    text-align: center;
  }
  .designation{
    font-size: 25px;
    text-align: center;
  }
  .mobile-data-table {
    width:100%;
    margin-top: 10px;

  }
  table,
th,
td {
  border: 1px solid black;
  table-layout: auto;
  text-align: center;
  border-collapse: collapse;
}
.sizeofheading{
  font-size: 30px;
}
.data-table{
  display: none;
}
}


