
.input-field {
    align-items: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: -15px;
}
.calander-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}
.calendar{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
}
.calendar-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.days{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
    margin-top: 5px;
    
}
.dates{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
    margin-top: 5px;
    border-left: 1px solid black;
    border-top: 1px solid black;
}
.dates span{
    padding: 10px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
h1{
    text-align: center;
    font-family: fantasy;
}
@media (max-width:600px){
    .calander-container{
        margin-left: 10px;
    margin-right: 10px;
    }
}